/* Body light theme */
body.light-theme {
    background-color: #ffffff;
    color: #3a3a3a;
}

/* Page title styling */
h1 {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 2rem;

    color: #4ec9b0;
    font-size: 2rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        padding-left: 1.5rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.3rem;
        padding-left: 1rem;
    }
}